body {
	font-family: 'Roboto', sans-serif;
    margin: auto;
}

/* Navbar Search Input */
#search2 {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 7px!important;
    border-bottom-left-radius: 7px!important;
    border: none;
    font-weight: 300;
}

/* Navbar search button */
#search-btn2 {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    border-top-right-radius: 7px!important;
    border-bottom-right-radius: 7px!important;
    background-color: #f5564e;
    border-color: #f5564e;
    font-weight: 700;
    letter-spacing: .075em;
}

.btn-primary {
    border-radius: 7px!important;
    background-color: #f5564e;
    border-color: #f5564e;
}

.btn-primary:hover {
    background-color: white;
    border-color: #f5564e;
    color: #f5564e;
    /* opacity: 80%; */
}

.card {
    box-shadow: 0px 0px .1em grey!important;
    border-radius: 10px!important;
    border: none;
}

.card-img-top {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.search-content {
    margin: auto;
}

h1, h2 {
    font-weight: 700;
    letter-spacing: .04em;
}

h2 {
    font-size: 1em;
}

h1 {
    font-size: 2.3em;
}

h2, p {
    line-height: 1.02em;
}

#sportType {
    font-weight: 300;
    letter-spacing: .05em;
    font-size: 1.4em;
}

#team-img {
    object-fit: cover;
    border-width: 3px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
}

#team-logo {
    margin: auto;    
    display: block;
    text-align: center;
    height: 70px;
}

#description {
    font-weight: 400;
    font-size: .9em;
    line-height: 1.3em;
}

#img-and-facts {
    box-shadow: 0px 0px 1.5em grey;
    border-radius: 10px;
}

.newsImg {
    object-fit: cover;
    border-width: 3px;
    /* border-color: red; */
    width: 25;
    height: 16em;
  }